#sidebar.hide .side-menu #p-order-dropdown{
	display: none;
}

#sidebar.hide:hover .side-menu #p-order-dropdown{
	display: block;
}

#p-order-dropdown{
	padding-left: 38px;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
}

/*DASHBORAD DROP DOWN START*/

#p-order-dropdown{
   opacity: 0;
   max-height: 0px;  
   overflow-y: hidden;
   transition: .5s ease;
}

#p-order-dropdown.p-order-dash{
   opacity: 1;
   max-height: 1000px;
   transition: .5s ease;
}

/*DASHBORAD DROP DOWN END*/

#p-order-chev-rotate{
	transition: .5s ease;
	transform: rotate(0deg);
}

#p-order-chev-rotate.p_order_chev{
	transition: .5s ease;
	transform: rotate(91deg);
}


#sidebar .side-menu li a .fa-chevron-right{
	margin-left: auto;
	margin-right: 13px;
	color: #BCBCBC;
}